*{
    margin: 0;
    padding: 0;
    color: black;
    text-decoration: none;
    text-size-adjust:inherit;
}

.main{
    width: 1000px;
    background-color: white;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: 0px;
}

.icon{
    width:200px;
    float: left;
    height: 70px;
}
.logo{
    color:black;
    font-size: 35px;
    float:inline-start;
}
.home{
    width: 400px;
    float: left;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    
}

ul li a{
    text-decoration: none;
    padding: 40px;
    color: black;
}
.image{
    align-content: flex-start;
    padding-left: 20px;
    padding-top: 50px;
    padding-right: 40px;
    padding-bottom: 0px;
    padding: 100px;
} 
 .image img{
    width: 400px;
    float: right;
    clear:left;
    padding-left:500px;
    padding-right: 50px;
    padding-bottom:0px;
}
 .image p{ 
    padding: 10px;
    padding-left:20px;
    justify-content: space-around;
    text-align:justify;
}
.cn{
    width: 130px;
    height: 40px;
    background-color: rgb(231, 101, 15);
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 5px;

}
.ct{width: 130px;
    height: 40px;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 5px;
    float:right;
    
}
.ct a{
    color: rgb(231, 101, 15);
}
.cw{width: 130px;
    height: 40px;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 5px;
    
}
.cw a{
    color: black;
}

.cars{
    float: left;
    padding:400px;
    padding-top:0px;
    padding-bottom: 20px;
    padding-left:10px;
}
.cars h2{
    padding-bottom: 20px;
}
.images{float:left;
    padding-top:5px;
    padding: 0px;
    height:400px;
    width:auto;
    padding-bottom:0px;
}
.image img{
    padding-right: 400px;
    padding-bottom: 0px;
    margin: 200 white ;
}
.image p{
    padding-top: 30px;
    padding-bottom:100px;
}
.client{
    display: flex;
    flex-direction:row;
    justify-content: right;
    padding-bottom: 20px;
}
img{
    float: left;
}
p{
    clear: left;
    width: 300px;
}
.cli{
    float: left;
}

.store{
    margin:0px;
    height: 200px;
    background-color:whitesmoke;
    padding-left:500px;
    align-content: center;
    padding-top:10px ;
    padding-bottom:550px;
}

.mos img{
    padding-top:0px;
    padding-bottom:550px;
    float:right;
    clear: right;
    padding-right:opx;
    width:200px;
    display: flex;
}
.mages img{
    width:150px;
    height:200;
    float:right;
    clear:left;
    display: flex;
    padding-bottom:0px;
    padding-top:60px;
}
.pg img{
    display: flex;
    float:right;
    clear: left;
    width:300px;
    padding-top: 20px;
    padding-bottom:20px;
}
/*
.gh{
    padding-top: 500px;
}
.pro{
    padding-top: 200px;
    float:left;
    padding-left: 70px;
}
/*
.two{

    padding-top:200px ;
    padding-left:00px;
}
.three{
    float:right;
    padding-top: 200px;
    padding-left: 00px;
}*/
.gh{
    padding-top: 300px;
    display:flex;
    padding: 150px;
    float: right;
}*/
/*.four{
    float: right;
    padding-top: 200px;
    clear:right;
}

gh