*{
    margin: 0px;
    padding: 0;
    color: black;
}

.main{
    width: 100px;
    background-color:transparent;
}

@media only screen and (max-width:500px){
    body{
        font-size: 20px;
        height: auto;
    }
  }
  


.navbar{
    width: 120px;
    height: 75px;
    margin: 0px;
}

.icon{
    width:200px;
    float: left;
    height: 70px;
}
.logo{
    color:black;
    font-size: 35px;
    float:inline-start;
}
.home{
    width: 400px;
    float: left;
}
.home ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    
}

.home ul li a{
    text-decoration: none;
    padding: 40px;
    color: black;
}
.image{
    align-content: flex-start;
    padding-left: 20px;
    padding-top: 50px;
    padding-right: 40px;
    padding-bottom: 0px;
    padding: 100px;
} 
 .image img{
    width:500px;
    height:200;
    float: right;
    clear:left;
    padding-left:500px;
    padding-right: 50px;
    padding-bottom:0px;
}
 .image p{ 
    padding: 10px;
    padding-left:20px;
    padding-bottom:50px;
    justify-content: space-around;
    text-align:justify;
}
.cn{
    width: 130px;
    height: 40px;
    background-color: rgb(231, 101, 15);
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 5px;
}
.pk{width: 200px;
    height:0px;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 5px;

}
.pn{width: 130px;
    height: 40px;
    background-color: rgb(231, 101, 15);
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size:10px;
    border-radius: 5px;

}

.ct{width: 200px;
    height: 40px;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 5px;
}
.ct a{
    color: rgb(231, 101, 15);
}
.cw{width: 200px;
    height: 40px;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 5px;
    
}
.cw a{
    color: black;
}

.cars{
    float: left;
    padding:90px;
    padding-top:0px;
    padding-bottom: 10px;
    padding-left:100px;
    padding-right: 10px;
}
.cars h2{
    padding-bottom: 20px;
}
.images{
    float:left;
    clear: right;
    padding-top:0px;
    padding:100px;
    height:20px;
    padding-bottom:300px;
}
.images img{
    padding-right:10px;
    padding-left: 30px;
    padding-top:20px;
    padding-bottom:30px;
    margin: 200 white ;
    width:300px;
    height:200px;
    float: right;
    clear: left;
}

.images p{
    padding-top:40px;
    padding-bottom:100px;
}


.client{
    display: flex;
    flex-direction:row;
    justify-content: right;
    padding-bottom: 10px;
    padding-top:100px;
    clear: left;
    padding: 30px;
}
 .client img{
    float: left;
    width:500px;
    height:auto;
    padding-right:0px;
    padding-left:30px;
    padding-top: 20px;
}
 .client p,h3{
    clear: left;    
    text-align: center;
    width: 300px;
    padding-left:0px;
}
.cli{
    float: left;
}
.logos{
    background-color:white;
    width:auto;
    height:500px;
    display: flex;
}
.store h3{
    text-align:center;
    padding-bottom:1px;
    display: flex;
    float: right;
}
.store p{
    padding-top: 10px;
}
.two{
    padding-top:100px;
    padding-bottom:0px;
    padding-right:150px;
    float:right;
}*/
.three{
    padding-left:200px;
}
.tb{
    padding-left:2px;
    float:right;
    padding-top: 200px;
}
.alex{
    padding-top:300px;
    padding-bottom:100px;
    display: flex;
    text-align:center;
    list-style: none;
}
.ex{
    padding-left:100px;
}
.dd{
    padding-left:100px;
    padding-right: 0px;
}
.lex{
    padding-left: 300px;
}
.lexa{
    padding-left: 200px;
}



