body{
    width:300px;
    display:grid;
    text-decoration: none;
}


.main{
    width:0px;
    background-color:transparent;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: 0px;
}

.icon{
    width:200px;
    float: left;
    height: 70px;
}
.home{
    width:300px;
    float: left;
    padding-right:20px;
}

.home ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    
}

.home ul li a{
    text-decoration: none;
    padding:10px;
    color: black;
}

.image{
    clear: left;
}
.image img{
    width:400px;
    float: right;
    padding-left: 800px;
    clear:left;
}
.cars{
    padding:0px;
    padding-top:0px;
    padding-bottom: 10px;
    padding-left:10px;
    padding-right: 10px;
}
.cw{width:150px;
    height:60px;
    border: none;
    padding: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 5px;
    
}
.cw a{
    color: black;
    text-decoration: none;
}
.cw img{
    width:30px;
    height:15px;
}

.cn{
    width:150px;
    height:50px;
    background-color: rgb(231, 101, 15);
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 5px;
}
.cn a{
    color:black;
    text-decoration: none;
    text-emphasis: none;
    text-align:center;
}
.cn img{
    width:20px;
    height:15 ;

}
.ct{width:200px;
    height:50px;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 5px;
}
.ct a{
    color: rgb(231, 101, 15);
    text-decoration: none;
}

.one{
    display:flex;
    float: right;
    width:300px;
}
.images{
float:right;
width: auto;
padding: 50px;

}
.images img{
    width:300px;
    padding: auto;
}
.mages{
    float:right;
width: auto;
padding:50px;
}
.mages img{
    width:300px;
    padding: auto;
}
.tt{
    display:flex;
    float: right;
    width:300px;
}

.clients{
    display: flex;
    flex-direction:row;
    justify-content: right;
    padding-bottom: 10px;
    padding-top:100px;
    clear: left;
    padding:10px;
}
 .clients img{
    float: left;
    width:300px;
    height:auto;
    padding-right:0px;
    padding-left:10px;
    padding-top: 20px;
}
 .clients p,h3{
    clear: left;    
    text-align: center;
    width:350px;
    padding-left:0px;
}
.cli{
    float: left;
}

.logos{
    display:flex;
    align-items: center;

}
.store{
    float: right;
    align-items: center;
    padding-left:500px;
}
.store img{
    width:200px;
}.store p1{
padding-left:70px;
}
.store p2{
    padding-top: 10px;
    width: 40px;
}
.store p3{
    width:200px;
}
.alex{
    padding-top:300px;
    padding-bottom:100px;
    display: flex;
    text-align:center;
    list-style: none;
}
.ex{
    padding-left:100px;
}
.dd{
    padding-left:100px;
    padding-right: 0px;
}
.lex{
    padding-left:200px;
}
.lexa{
    padding-left: 200px;
}
span{
    color:rgb(231, 101, 15);
}

.pp{
    display: inline-flex;
}


.pp img{
    width:auto;
    height:20px;
}

.pp p{
padding:20px;
}








